body{
    display: flex;
    justify-content:center;
    
    min-height: 100vh;
    background: url(https://www.colores.org.es/imagenes_colores/verde-verones.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 350px;
    background: transparent;
    border:50px solid rgba(0, 0, 0, 0.2);
    color: #000000;
    backdrop-filter: blur(5px);
    padding: 5px 40px; }

.wrapper h1{  
    font-size: 50px;
    text-align: center; }

    .wrapper .input-box{ /*Tamaño y margen*/
        width: 70%;
        height: 25px;
        margin: 70px 0;
}




    .input-box i{
    position:relative;
    right: 25px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
    
    }

    .wrapper .btn{
        width: 100%;
        height: 45px;
        background: #fff;
        border: none;
        outline: none;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        cursor: pointer;
        font-size: 16px;
        color: #333;
        font-weight: 600;
        margin: 15px 0;
        margin-top: 60px;
    }